@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html {
  background: #dfdfdf;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}
[v-cloak] {
  display: none;
}
.design {
  max-width: 100%;
}
.top {
  position: relative;
  min-height: 46px;
  line-height: 46px;
  padding: 1px 0;
  color: #fff;
  background: linear-gradient(90deg, #a586ff, #7b4eff);
  text-align: center;
  font-size: 16px;
  *zoom: 1;
}
.top:after {
  content: '';
  display: block;
  clear: both;
}
.top .intro {
  position: absolute;
  top: 1px;
  right: 0;
  line-height: 46px;
  padding: 0 8px;
  color: #fff;
  font-size: 13px;
}
.top .back {
  position: absolute;
  top: 1px;
  left: 0;
  width: 46px;
  height: 46px;
  background: url(../img/back.png) center / 21px no-repeat;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  line-height: 50px;
  background: #fff;
  color: blue;
}
#wrap .list-bottom {
  line-height: 30px;
  padding: 0 0 20px;
  text-align: center;
  background: inherit;
  color: #9d9d9d;
  font-size: 10px;
}
