@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html {
  background: #dfdfdf;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}
[v-cloak] {
  display: none;
}
.design {
  max-width: 100%;
}
.top {
  position: relative;
  min-height: 46px;
  line-height: 46px;
  padding: 1px 0;
  color: #fff;
  background: linear-gradient(90deg, #a586ff, #7b4eff);
  text-align: center;
  font-size: 16px;
  *zoom: 1;
}
.top:after {
  content: '';
  display: block;
  clear: both;
}
.top .intro {
  position: absolute;
  top: 1px;
  right: 0;
  line-height: 46px;
  padding: 0 8px;
  color: #fff;
  font-size: 13px;
}
.top .back {
  position: absolute;
  top: 1px;
  left: 0;
  width: 46px;
  height: 46px;
  background: url(../img/back.png) center / 21px no-repeat;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 46px;
  background: #fff;
  color: #8b8b8b;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.footer a {
  position: relative;
  font-size: 12px;
}
.footer a.active {
  color: #632fff;
}
.footer a:before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background: url(../img/footer/home.png) center bottom / contain no-repeat;
}
.footer a:nth-of-type(1):before {
  background-image: url(../img/footer/home.png);
}
.footer a:nth-of-type(1).active:before {
  background-image: url(../img/footer/home_active.png);
}
.footer a:nth-of-type(2):before {
  background-image: url(../img/footer/listen.png);
}
.footer a:nth-of-type(2).active:before {
  background-image: url(../img/footer/listen_active.png);
}
.footer a:nth-of-type(3):before {
  background-image: url(../img/footer/msg.png);
}
.footer a:nth-of-type(3).active:before {
  background-image: url(../img/footer/msg_active.png);
}
.footer a:nth-of-type(4):before {
  background-image: url(../img/footer/find.png);
}
.footer a:nth-of-type(4).active:before {
  background-image: url(../img/footer/find_active.png);
}
.footer a:nth-of-type(5):before {
  background-image: url(../img/footer/me.png);
}
.footer a:nth-of-type(5).active:before {
  background-image: url(../img/footer/me_active.png);
}
#wrap .list-bottom {
  display: block;
  line-height: 30px;
  padding: 0 0 20px;
  background: inherit;
  color: #9d9d9d;
  font-size: 10px;
  text-align: center;
}
img {
  display: block;
}
ul.man {
  display: flex;
  flex-wrap: wrap;
}
ul.man li {
  width: 100%;
}
ul.man li a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid #dedede;
  background: #fff;
}
ul.man li a .number {
  color: #737373;
  font-size: 15px;
}
ul.man li a .img {
  float: left;
  position: relative;
  margin: 0 12px 0 20px;
}
ul.man li a .img i {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 0 0 4px 0;
  background: url(../img/test.png) center / cover no-repeat;
}
ul.man li a .img span {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: 16px;
  transform: translate(-50%, 0);
  padding: 0px 5px 0 18px;
  border-radius: 100px;
  font-size: 12px;
  background: #ff9999 url(../img/woman.png) left 5px center / 9px no-repeat;
  color: #fff;
}
ul.man li a .img span.male {
  background-color: #6ab5ff;
  background-image: url(../img/man.png);
  background-size: 10px;
}
ul.man li a .info {
  min-width: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #969696;
}
ul.man li a .info .info-name-address {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}
ul.man li a .info .info-name-address p:nth-of-type(1) {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: 0 40px 0 0;
  margin: 0 0 -6px 0;
  color: #464646;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url(../img/vip1.png) right top 2px / auto 15px no-repeat;
}
ul.man li a .info .info-name-address p:nth-of-type(2) {
  font-size: 12px;
}
ul.man li a .info > p {
  flex-shrink: 0;
  font-size: 12px;
}
ul.man li a .info > p strong {
  padding: 0 5px;
  color: #ff7a55;
  font-weight: normal;
  font-size: 14px;
}
ul.man li:nth-of-type(-n+3) a {
  overflow: hidden;
  position: relative;
  padding: 0;
}
ul.man li:nth-of-type(-n+3) a > * {
  z-index: 1;
}
ul.man li:nth-of-type(-n+3) a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 42%;
  height: 110px;
  background: linear-gradient(90deg, #fff, #f6e0a1);
}
ul.man li:nth-of-type(-n+3) a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 42%;
  height: 110px;
  background: url(../img/20.png) right 10px center / auto 90px no-repeat;
}
ul.man li:nth-of-type(-n+3) a .number {
  display: none;
}
ul.man li:nth-of-type(-n+3) a .img {
  margin: 0;
  align-self: flex-start;
}
ul.man li:nth-of-type(-n+3) a .img i {
  width: 110px;
  height: 110px;
  border-radius: 0;
  margin: 0;
}
ul.man li:nth-of-type(-n+3) a .img span {
  top: 50%;
  bottom: auto;
  left: 125px;
  transform: translate(0, -50%);
}
ul.man li:nth-of-type(-n+3) a .info {
  margin: 0 120px 0 15px;
  flex-direction: column;
  align-items: stretch;
}
ul.man li:nth-of-type(-n+3) a .info .info-name-address p:nth-of-type(1) {
  margin: 0 0 -3px 0;
}
ul.man li:nth-of-type(-n+3) a .info .info-name-address p:nth-of-type(2) {
  padding: 0 0 0 45px;
}
ul.man li:nth-of-type(-n+3) a .info > p {
  margin: 3px 0 0;
}
ul.man li:nth-of-type(-n+3) a .info > p strong {
  padding: 0 5px 0 0;
}
ul.man li:nth-of-type(2),
ul.man li:nth-of-type(3) {
  width: 50%;
}
ul.man li:nth-of-type(2) a,
ul.man li:nth-of-type(3) a {
  height: 110px;
}
ul.man li:nth-of-type(2) a:before,
ul.man li:nth-of-type(3) a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 45%;
  height: 110px;
  background: linear-gradient(90deg, #fff, #f6e0a1);
}
ul.man li:nth-of-type(2) a:after,
ul.man li:nth-of-type(3) a:after {
  content: "";
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10px;
  left: 5px;
  z-index: 2;
  width: 65px;
  height: 39px;
  background: url(../img/21.png) center / contain no-repeat;
}
ul.man li:nth-of-type(2) a .img,
ul.man li:nth-of-type(3) a .img {
  align-self: flex-start;
}
ul.man li:nth-of-type(2) a .img i,
ul.man li:nth-of-type(3) a .img i {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  margin: 10px 5px 0;
}
ul.man li:nth-of-type(2) a .img span,
ul.man li:nth-of-type(3) a .img span {
  top: 37px;
  bottom: auto;
  left: 75px;
  transform: translate(0, 0);
}
ul.man li:nth-of-type(2) a .info,
ul.man li:nth-of-type(3) a .info {
  margin: 0 0 0 5px;
}
ul.man li:nth-of-type(2) a .info .info-name-address p:nth-of-type(1),
ul.man li:nth-of-type(3) a .info .info-name-address p:nth-of-type(1) {
  display: block;
  padding: 0 0 19px 0;
  margin: 0 0 3px 0;
  background-position: left 40px bottom 2px;
}
ul.man li:nth-of-type(2) a .info .info-name-address p:nth-of-type(2),
ul.man li:nth-of-type(3) a .info .info-name-address p:nth-of-type(2) {
  padding: 0;
}
ul.man li:nth-of-type(2) a:before {
  background-image: linear-gradient(90deg, #fff, #d1e8ff);
}
ul.man li:nth-of-type(3) a:before {
  background-image: linear-gradient(90deg, #fff, #e1d8ff);
}
ul.man li:nth-of-type(3) a:after {
  background-image: url(../img/22.png);
}
html,
body {
  height: 100%;
}
#wrap {
  height: 100%;
  box-sizing: border-box;
  padding: 48px 0 46px;
}
#wrap .main {
  height: 100%;
  overflow: hidden;
}
#wrap .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.main {
  box-sizing: border-box;
  position: relative;
  padding: 40px 0 0;
}
.main .nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #dedede;
  font-size: 14px;
  background: #fff;
  color: #999;
  color: #999999;
}
.main .nav .swiper-slide {
  width: auto;
  line-height: 40px;
  padding: 0 12px;
  box-sizing: border-box;
  text-align: center;
}
.main .nav .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  width: 0px;
}
.main .nav .bar .bar-color {
  width: 100%;
  height: 3px;
  background: #ff4891;
}
.main .page {
  height: 100%;
}
.main .page ul {
  height: 100%;
  overflow: auto;
}
.main .nav .bar {
  display: flex;
  justify-content: center;
}
.main .nav .bar .bar-color {
  width: 60%;
}
