@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html {
  background: #dfdfdf;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}
[v-cloak] {
  display: none;
}
.design {
  max-width: 100%;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  min-height: 46px;
  line-height: 46px;
  padding: 1px 0;
  color: #fff;
  background: linear-gradient(90deg, #a586ff, #7b4eff);
  text-align: center;
  font-size: 16px;
  *zoom: 1;
}
.top:after {
  content: '';
  display: block;
  clear: both;
}
.top .intro {
  position: absolute;
  top: 1px;
  right: 0;
  line-height: 46px;
  padding: 0 8px;
  color: #fff;
  font-size: 13px;
}
.top .back {
  position: absolute;
  top: 1px;
  left: 0;
  width: 46px;
  height: 46px;
  background: url(../img/back.png) center / 21px no-repeat;
}
.main {
  padding-top: 46px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 46px;
  background: #fff;
  color: #8b8b8b;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.footer a {
  flex: 1 0 auto;
  position: relative;
  font-size: 12px;
  text-align: center;
}
.footer a.active {
  color: #632fff;
}
.footer a:before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background: url(../img/footer/home.png) center bottom / 24px no-repeat;
}
.footer a:nth-of-type(1):before {
  background-image: url(../img/footer/home.png);
}
.footer a:nth-of-type(1).active:before {
  background-image: url(../img/footer/home_active.png);
}
.footer a:nth-of-type(2):before {
  background-image: url(../img/footer/listen.png);
}
.footer a:nth-of-type(2).active:before {
  background-image: url(../img/footer/listen_active.png);
}
.footer a:nth-of-type(3):before {
  background-image: url(../img/footer/msg.png);
}
.footer a:nth-of-type(3).active:before {
  background-image: url(../img/footer/msg_active.png);
}
.footer a:nth-of-type(4):before {
  background-image: url(../img/footer/find.png);
}
.footer a:nth-of-type(4).active:before {
  background-image: url(../img/footer/find_active.png);
}
.footer a:nth-of-type(5):before {
  background-image: url(../img/footer/me.png);
}
.footer a:nth-of-type(5).active:before {
  background-image: url(../img/footer/me_active.png);
}
#wrap .list-bottom {
  display: block;
  line-height: 30px;
  padding: 0 0 20px;
  background: inherit;
  color: #9d9d9d;
  font-size: 10px;
  text-align: center;
}
html,
body {
  position: relative;
  height: 100%;
}
html,
body {
  height: 100%;
}
#wrap {
  height: 100%;
  box-sizing: border-box;
  padding: 48px 0 46px;
}
#wrap .main {
  height: 100%;
  overflow: hidden;
}
#wrap .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.main {
  box-sizing: border-box;
  position: relative;
  padding: 40px 0 0;
}
.main .nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #dedede;
  font-size: 14px;
  background: #fff;
  color: #999;
  color: #999999;
}
.main .nav .swiper-slide {
  width: auto;
  line-height: 40px;
  padding: 0 12px;
  box-sizing: border-box;
  text-align: center;
}
.main .nav .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  width: 0px;
}
.main .nav .bar .bar-color {
  width: 100%;
  height: 3px;
  background: #ff4891;
}
.main .page {
  height: 100%;
}
.main .page ul {
  height: 100%;
  overflow: auto;
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.top .top-left {
  float: left;
  width: 28px;
  height: 28px;
  margin: 12px 0 0 12px;
  background: url(../img/index_01.png) center / contain no-repeat;
}
.top .top-middle {
  overflow: hidden;
  width: 220px;
  line-height: 32px;
  border-radius: 100px;
  margin: 7px auto 0;
  text-align: center;
  font-size: 15px;
  background: #a283fe;
  *zoom: 1;
}
.top .top-middle.title {
  background: none;
}
.top .top-middle:after {
  content: '';
  display: block;
  clear: both;
}
.top .top-middle a {
  float: left;
  width: 115px;
}
.top .top-middle a:first-of-type {
  margin: 0 -10px 0 0;
}
.top .top-middle a.active {
  border-radius: 100px;
  pointer-events: none;
  background: linear-gradient(#ede9f8, #e8e2f8, #e1dbf2);
  color: #8055ff;
}
.top .top-right {
  float: right;
  width: 28px;
  height: 28px;
  margin: 12px 12px 0 0px;
  background: url(../img/index_02.png) center / contain no-repeat;
}
.main ul li {
  padding: 8px 0;
  border-top: 1px solid #dedede;
  background: #fff;
  *zoom: 1;
}
.main ul li:after {
  content: '';
  display: block;
  clear: both;
}
.main ul li .list-left {
  float: left;
  position: relative;
  padding: 0 8px;
}
.main ul li .list-left i {
  display: block;
  width: 86px;
  height: 86px;
  border-radius: 100px;
  margin: 0 0 4px 0;
  background: url(../img/test.png) center / cover no-repeat;
}
.main ul li .list-left span {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: 16px;
  transform: translate(-50%, 0);
  padding: 0px 5px 0 18px;
  border-radius: 100px;
  font-size: 12px;
  background: #ff9999 url(../img/woman.png) left 5px center / 9px no-repeat;
  color: #fff;
}
.main ul li .list-right {
  float: right;
  padding: 0 12px;
  text-align: center;
}
.main ul li .list-right a {
  display: block;
  height: 24px;
  margin: 20px 0 0;
  background: url(../img/phone.png) center / contain no-repeat;
}
.main ul li .list-right strong {
  display: block;
  line-height: 20px;
  color: #65c2bd;
  font-weight: normal;
  font-size: 10px;
}
.main ul li .list-right span {
  display: block;
  margin: 3px 0 0;
  color: #aeaeae;
  font-size: 12px;
}
.main ul li .list-middle {
  overflow: hidden;
  padding: 0 8px;
  line-height: 20px;
}
.main ul li .list-middle h5 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 0 0 0 0;
  margin: 6px 0 0px;
  color: #464646;
  font-weight: 500;
  font-size: 14px;
}
.main ul li .list-middle h5 span {
  display: block;
  margin: 0 50px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main ul li .list-middle h5 i.vip-level {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 45px;
  vertical-align: middle;
  background: url(../img/vip1.png) center / contain no-repeat;
}
.main ul li .list-middle h5 i.vip-level.vip1 {
  background-image: url(../img/vip1.png);
}
.main ul li .list-middle h5 i.vip-level.vip2 {
  background-image: url(../img/vip2.png);
}
.main ul li .list-middle h5 i.vip-level.vip3 {
  background-image: url(../img/vip3.png);
}
.main ul li .list-middle h5 i.vip-level.vip4 {
  background-image: url(../img/vip4.png);
}
.main ul li .list-middle h5 i.vip-level.vip5 {
  background-image: url(../img/vip5.png);
}
.main ul li .list-middle .audition {
  display: inline-block;
  line-height: 20px;
  padding: 1px 9px 0 27px;
  border-radius: 100px;
  margin: 3px 0 3px;
  color: #91a7d6;
  font-size: 14px;
  background: #e3e3e3 url(../img/audition.png) left center / contain no-repeat;
}
.main ul li .list-middle .brief {
  margin: 10px 0 0;
  color: #9d9d9d;
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
