@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html {
  background: #dfdfdf;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}
[v-cloak] {
  display: none;
}
.design {
  max-width: 100%;
}
.top {
  position: relative;
  min-height: 46px;
  line-height: 46px;
  padding: 1px 0;
  color: #fff;
  background: linear-gradient(90deg, #a586ff, #7b4eff);
  text-align: center;
  font-size: 16px;
  *zoom: 1;
}
.top:after {
  content: '';
  display: block;
  clear: both;
}
.top .intro {
  position: absolute;
  top: 1px;
  right: 0;
  line-height: 46px;
  padding: 0 8px;
  color: #fff;
  font-size: 13px;
}
.top .back {
  position: absolute;
  top: 1px;
  left: 0;
  width: 46px;
  height: 46px;
  background: url(../img/back.png) center / 21px no-repeat;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 46px;
  background: #fff;
  color: #8b8b8b;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.footer a {
  position: relative;
  font-size: 12px;
}
.footer a.active {
  color: #632fff;
}
.footer a:before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background: url(../img/footer/home.png) center bottom / contain no-repeat;
}
.footer a:nth-of-type(1):before {
  background-image: url(../img/footer/home.png);
}
.footer a:nth-of-type(1).active:before {
  background-image: url(../img/footer/home_active.png);
}
.footer a:nth-of-type(2):before {
  background-image: url(../img/footer/listen.png);
}
.footer a:nth-of-type(2).active:before {
  background-image: url(../img/footer/listen_active.png);
}
.footer a:nth-of-type(3):before {
  background-image: url(../img/footer/msg.png);
}
.footer a:nth-of-type(3).active:before {
  background-image: url(../img/footer/msg_active.png);
}
.footer a:nth-of-type(4):before {
  background-image: url(../img/footer/find.png);
}
.footer a:nth-of-type(4).active:before {
  background-image: url(../img/footer/find_active.png);
}
.footer a:nth-of-type(5):before {
  background-image: url(../img/footer/me.png);
}
.footer a:nth-of-type(5).active:before {
  background-image: url(../img/footer/me_active.png);
}
#wrap .list-bottom {
  display: block;
  line-height: 30px;
  padding: 0 0 20px;
  background: inherit;
  color: #9d9d9d;
  font-size: 10px;
  text-align: center;
}
.main .item {
  display: block;
  line-height: 50px;
  padding: 0 30px 0 12px;
  border-bottom: 1px solid #e3e3e3;
  background: #fff url(../img/arrow-right.png) right 5px center / 20px no-repeat;
}
.main .item .text {
  color: #3e3e3e;
}
.main .item .right-text {
  float: right;
  color: #a1a1a1;
}
.main .item.margin {
  margin: 20px 0 0;
}
.main .logout {
  display: block;
  line-height: 50px;
  margin: 20px 0 0;
  color: #ff4d4d;
  text-align: center;
  background: #fff;
}
